.bordeExterior{
    background-color: rgb(213, 228, 250);
    box-shadow: 4px  2px 4px 0 #929090bf,
                -1px 0 1px 0 #929090bf;
}

header{
    font-family: "Roboto", sans-serif;
    padding: 1em 2.3em 0;
    font-size:x-large;
    margin: 2em 3.5% 0;
    font-weight: bold;
}

.tituloPrincipal{
    margin: 0;
}

.creditos{
    font-size: medium;
    margin: 0;
}


body{
    font-family: "Roboto", sans-serif;
}

main{
    display: flex;
    position: relative;
}

.seccionCriptacion, .textoProducido{
    margin: 2em 0;
    display: flex;
    justify-content: center;
    resize: none;   
    overflow: hidden;
}

.seccionCriptacion{
    flex: 60%;
}

.cajaReferencia{
    width: 80%;
    height: 450px;
    position: relative;
}

.textoCriptacion{
    font-family: "Montserrat", sans-serif;   
    background-color: rgb(213, 228, 250);
    font-size: 15px;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 94%;
    padding: 1.5em 1.5em 20em;
}

#inputTexto{
    resize: none;   
    overflow: hidden;
}

.imagenAviso{
    width: 12px;
}

.aviso{
    font-size: 12px;
}

.boton{
    font-family: "Montserrat", sans-serif;   
    font-size: 15px;
    margin: 5px 0;
    padding: 1em;
    width: 45%;
    border: rgb(135, 135, 241) 1px solid;
    border-radius: 10px;
}

#desencriptar{
    position: absolute;
    left: 0;
    background-color: #4E8BFF;
}

#encriptar{
    position: absolute;
    right: 0;
}

.textoProducido{
    flex: 40%;
    position: relative;    
}

#referenciaTextoHecho{
    display: flex;
    margin: 0 10em 0 0;
    flex-direction: column;
    width: 50%;
}

#procesoRealizado{
    flex: 1;
    height: 0;
    padding: 3em 5em 20em;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 20px;
    resize: none;
    overflow: hidden; 
}

.cajaBotonCopiarTexto{
    flex: 9;
    text-align: center;
    position: relative;    
}

#copiarTexto{
    position: absolute;
    margin: 1px 0;
    padding: 1em 2em;
    bottom: 16px;
    left: 8em;
}

footer{
    text-align: center;
    padding: 4.5em;
    background-color: rgb(196, 196, 245);
}